<!DOCTYPE html>
<html>

<head>
	<title>Admin page</title>
</head>

<body>
	<a href="/admin">Home</a>|
	<a href="/logout">Logout</a><br><br>
	<a href="/admin/profile">Edit Profile</a><br>
	<a href="/admin/addBook">Add New Doctor</a><br>
	<a href="/admin/view_Member">Assign Doctor </a><br>
	
	<%= user.username %><br>
	<a href="/admin/view_Booked">Message</a>|
	<% if(user.status=="block"){ %>
	<a href="/admin/<%= table%>/<%= user.username %>">Unblock</a>
	<%  } else{ %>
	<a href="/admin/<%= table%>/<%= user.username %>">Block</a>
	<%  }%>
	<h1>Profile information</h1>
	Id: <%= user.id%> <br>
	First Name: <%= user.fname %> <br>
	Last Name: <%= user.lname %> <br>
	Email: <%= user.email %> <br>
	phone: <%= user.phone %> <br>
    Blood Group: <%= user.bloodgroup %> <br>
</body>

</html>